on: push
jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    env:
      PROJECT_ID: ubuntu-latest
    steps:
      - uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # v3.0.0
        with:
          project_id: ${{ env.PROJECT_ID }}
          workload_identity_provider: projects/302049616774/locations/global/workloadIdentityPools/github/providers/github

      - uses: google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db # v3.0.1

      - run: gcloud projects describe "$PROJECT_ID"
